@page "/"

<PageTitle>Vizar</PageTitle>

@if (_isLoading)
{
	<h1>Page is Loading, Please Wait!</h1>
}
else
{
	<h1>Hello, world!</h1>

	<SfButton Content="Purchase" OnClick='() => NavigationManager.NavigateTo("/inventory/purchase")' />

	<SfButton Content="Log Out" OnClick='async () => await AuthenticationService.Logout(DataStorageService, NavigationManager, VibrationService)' />

	<span>
		Welcome to your new app running on<em>@factor</em> using <em>@platform</em>.
	</span>
}